/* comentario*/

Body {
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
}

#titulo {
    color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    text-shadow: 12px 5px 5px #000000;
    font-size: 140px;
    margin-top: -15px;
    padding: 0;
    background: linear-gradient( to top, black, grey);
    position: relative;
}

.iconosanima {
    font-size: 30px;
    top: 15px;
    left: 1000px;
    position: absolute;
    display: block;
    text-shadow: none;
    animation-name: animacion;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

.iconosanima a {
    color: white;
    text-decoration: none;
    display: block;
}

.iconosanima a:hover {
    transform: scale(1.2);
}

@keyframes animacion {
    0% {
        left: 15px;
        top: 15px;
    }
    25% {
        left: 300px;
        top: 15px;
    }
    50% {
        left: 600px;
        top: 15px;
    }
    75% {
        left: 900px;
        top: 15px;
    }
    100% {
        left: 1000px;
        top: 15px;
    }
}

body {
    background: black;
}

#menu {
    background: black;
    font-family: 'Amatic SC', cursive;
    position: sticky;
    top: 0;
    z-index: 99999;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-top: 1px solid white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    display: block;
}

li {
    border: 1px solid black;
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

#menu   li:hover {
    background: grey;
    transition: background 0.5s;
    border-bottom: 1px solid white;
}

 

.submenu {
    position: absolute;
     display: none;
    width: 300px;
    background: black;
}

.submenu li {
    width: 100%;
    text-align: left;
}

li:hover .submenu {
    display: flex;
}

 
/* -------------definicion links submenus------------------------*/

#discografia {
    font-family: 'Neucha', cursive;
    font-size: 20px;
}

#discografia table {
    border: 1px solid white
}


/* ----------------------------------*/
/* ----------------------------------*/
/* ----------------------------------*/
#discografia1 {
    font-family: 'Neucha', cursive;
    font-size: 20px;
     border: 1px solid white;
     width: 20px;
     height: 50px;
    
}

.portada1{
         border: 1px solid white;

}

/* ----------------------------------*/
/* ----------------------------------*/
/* ----------------------------------*/
/* ----------------------------------*/




#biografia {
    font-family: 'Neucha', cursive;
    text-align: justify;
    font-size: 20px;
}

#merchandise {
    font-family: 'Neucha', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

#merchandise .mkt {
    border: 4px solid white;
    width: 330px;
    padding: 5px;
    margin: 5px;
}

#merchandise .mkt img {
    width: 100%;
}

#contacto {
    font-family: 'Neucha', cursive;
    padding: 10px;
    clear: left;
}

#newsmedia {
    font-family: 'Neucha', cursive;
    font-size: 25px;
    background-color: rgb(63, 62, 62);
    height: 40px;
    position: relative;
}

/*
#newsmedia .iconos.derecha {
    float: right;
}
*/

.iconosderecha {
    position: absolute;
    top: 6px;
    right: 10px;
}

#newsmedia a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
}

#newsmedia a:hover {
    color: white;
    text-decoration: none;
     transform: scale(1.2);  
}

#piedepagina {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    height: 120px;
    color: white;
    background-color: grey;
    line-height: 18px;
    padding: 5px;
}

.encabezado {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    border-bottom: 1px solid white;
}